{% extends '@nucleus/partials/particle.html.twig' %}

{% block javascript_footer %}
    {% if particle.enabled %}
        {% do gantry.load('jquery') %}
        {{ parent() }}        
            <script>
                (function($) {
                    $(window).load(function() {

             $('body').append('<a class="ir-arriba ir-arriba-{{ particle.efecto|e }}-defecto {% if particle.colorfondo %}g-ir-arriba-confondo{% endif %}" href="#" style="{%- if particle.colorfondo -%}background:{{ particle.colorfondo|e }};{%- endif -%}{%- if particle.coloricono -%}color:{{ particle.coloricono|e }};{%- endif -%}{%- if particle.borderradius -%}border-radius:{{ particle.borderradius|e }};{%- endif -%}{%- if particle.espaciado -%}padding:{{ particle.espaciado|e }};{%- endif -%}{%- if particle.grosorborde -%}border:{{ particle.grosorborde|e }} solid{%- endif -%} {% if particle.colorborde %} {{ particle.colorborde|e }}{% endif %};"><i class="{{ particle.buttonicon|e }}" aria-hidden="true"> </i> </a>'); 

                     $(window).scroll(function () {
                    if ($(this).scrollTop() > {{ particle.offset|e }}) {
                        $('.ir-arriba').addClass('ir-arriba-{{ particle.efecto|e }}');
                    } else {
                        $('.ir-arriba').removeClass('ir-arriba-{{ particle.efecto|e }}');
                    }
                    });

                     $('.ir-arriba').click(function () {
                     $('body,html').animate({
                        scrollTop: 0,
                        }, {{ particle.velocidadscroll|e }});
                        return false;
                    });

                    });
                })(jQuery);
            </script>
        {% endif %}
{% endblock %}
